In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("Dataset\imdb(MOVIES).csv")
data.head()

,ranking of movie,movie name,Year,certificate,runtime,genre,RATING,DETAIL ABOUT MOVIE,DIRECTOR,ACTOR 1,ACTOR 2,ACTOR 3,ACTOR 4,votes,metascore,GROSS COLLECTION
0,1,Jai Bhim,-2021,TV-MA,164 min,"Crime, Drama",9.4,When a tribal man is arrested for a case of al...,T.J. Gnanavel,Suriya,Lijo Mol Jose,Manikandan,Rajisha Vijayan,163431,NaN,NaN
1,2,The Shawshank Redemption,-1994,R,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2515762,80.0,$28.34M
2,3,The Godfather,-1972,R,175 min,"Crime, Drama",9.2,"The Godfather follows Vito Corleone, Don of th...",Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1732749,100.0,$134.97M
3,4,The Dark Knight,-2008,PG-13,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2466041,84.0,$534.86M
4,5,The Godfather: Part II,-1974,R,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1202401,90.0,$57.30M

In [3]:
#Changing column names
keys = data.columns
values = ['Ranking of Movie', 'Movie Name', 'Year', 'Certificate', 'Runtime', 'Genre', 'Rating', 'Detail About Movie', 'Director', 'Actor1', 'Actor2', 'Actor3', 'Actor4', 'Votes', 'Metascore', 'Gross Collection']
dictionary = dict(zip(keys, values))

data = data.rename(dictionary, axis='columns')
data.columns

Index(['Ranking of Movie', 'Movie Name', 'Year', 'Certificate', 'Runtime',
       'Genre', 'Rating', 'Detail About Movie', 'Director', 'Actor1', 'Actor2',
       'Actor3', 'Actor4', 'Votes', 'Metascore', 'Gross Collection'],
      dtype='object')

In [4]:
#Check null values
data.isnull().sum()

Ranking of Movie       0
Movie Name             0
Year                   0
Certificate            0
Runtime                0
Genre                  0
Rating                 0
Detail About Movie     0
Director               0
Actor1                 0
Actor2                 0
Actor3                 0
Actor4                 0
Votes                  0
Metascore             32
Gross Collection      36
dtype: int64

In [5]:
# remove punctuations from 'Detail About Movie'
data['Detail About Movie'] = data['Detail About Movie'].str.replace('[^\w\s]', '')

C:\Users\ceyda\AppData\Local\Temp/ipykernel_7368/3616750629.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  data['Detail About Movie'] = data['Detail About Movie'].str.replace('[^\w\s]', '')

In [6]:
# remove symbols and punctuations from 'Year'
data['Year'] = [i.translate({ ord('-'):None, ord('('): None, ord(')'): None, ord('I'): None }) for i in data['Year']]

In [7]:
# Genre to list
data['Genre'] = data['Genre'].map(lambda x: x.split(','))
for index, row in data.iterrows():
    row['Genre'] = [x.lower().replace(' ','') for x in row['Genre']]
data['Genre']

0                    [Crime,  Drama]
1                            [Drama]
2                    [Crime,  Drama]
3           [Action,  Crime,  Drama]
4                    [Crime,  Drama]
                   ...
245                 [Comedy,  Drama]
246      [Drama,  History,  Romance]
247               [Comedy,  Romance]
248    [Biography,  Drama,  History]
249    [Action,  Adventure,  Comedy]
Name: Genre, Length: 250, dtype: object

In [8]:
#Use Rake to discard stop words
from rake_nltk import Rake

#Initializing list to contain keywords
keywords = []

r = Rake()

for index, row in data.iterrows():
    # Extract key words from Detail About Movie
    r.extract_keywords_from_text(row.loc['Detail About Movie'])
    # Key words and their scores in dictionary type
    key_words_dict_scores = r.get_word_degrees()
    # Append key words to list 
    keywords.append(list(key_words_dict_scores.keys()))
 # Assign list to new column
data['Keywords'] = keywords

In [ ]:
# Gross Collection column to float type
import re
data['Gross Collection'] = data['Gross Collection'].fillna(0)
data['Gross Collection'] = [re.sub('[^A-Za-z0-9]+', '', str(i)).replace('M', '') for i in data['Gross Collection']]
data['Gross Collection'] = data['Gross Collection'].astype("float64")

In [ ]:
# Runtime column to integer
data['Runtime'] = data['Runtime'].fillna(0)
data['Runtime'] = [re.sub('[^A-Za-z0-9]+', '', str(i)).replace('min', '') for i in data['Runtime']]
data['Runtime'] = data['Runtime'].astype("int64")

In [ ]:
# Cleaning Metascore column
data['Metascore'] = data['Metascore'].fillna(0)
data['Metascore'] = data['Metascore'].astype("float64")

In [ ]:
# Processed dataframe to csv
data.to_csv('Dataset/imdb(MOVIES)_processed.csv', index=False)